{
  "presets": ["react", "latest"],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "react",
        ["latest", { "modules": false }]
      ],
      "plugins": ["lodash"]
    }
  }
}
