{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "flow-react-proptypes"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["lodash"]
    }
  }
}
