.wrap {
  padding:       5px 20px;
  border:        1px solid currentColor;
  border-radius: 5px;
  color:          mediumseagreen;
}

.title {
  margin:         0;
  font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:    100;
  text-transform: uppercase;
  letter-spacing: 5px;
}
